header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 8vh;
    grid-template-rows: 8vh;
    -ms-grid-columns: 1fr 0.1fr 0.1fr;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

header #header_button_back {
    margin-left: 10%;
}

header button,
.cart-icon {
    border-color: #FFFFFF !important;
    background-color: #FFFFFF !important;
    border-style: none;
}

header #header_button_loupe {
    margin-right: 25px;
}


.cart {
    margin: auto;
    padding: 20px;
    min-height: 100vh;
}

h1 {
    font-family: "Playfair Display", serif;
}

.order p {
    font-family: "Montserrat", sans-serif;
}

.order_container {
    display: grid;
    margin-bottom: 30px;
}

.order_container__cover {
    grid-area: 1 / 1 / 5 / 2;
}

.order_container__title {
    grid-area: 1 / 2 / 2 / 3;
    font-family: "Playfair Display", serif;
}

.order_container__author {
    grid-area: 2 / 2 / 3 / 3;
    font-family: "Montserrat", sans-serif;
}

.order_container__count {
    grid-area: 3 / 2 / 4 / 3;
}

.order_container span {
    margin: 0 5px;
}

.btn-sub,
.btn-sum {
    color: #D96F6E;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    background-color: #f1eeee;
    font-size: 1.2em;
    width: 1.2em;
}

#checkout {
    background-color: #D96F6E;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    height: 2.7em;
    width: 10em;
}

@media screen and (max-width: 575px) {
    .cart {
        width: 90vw;
    }

    .order_container {
        grid-template-columns: calc(100px + 10vw) 1fr;
        height: calc(160px + 15vw);
        grid-template-rows: 70px 45px 30px 1fr;
        column-gap: 10px;
    }

    .order_container__cover {
        width: calc(100px + 10vw);
    }

    .order_container__title {
        font-size: 1em;
    }

    .order_container__author {
        font-size: 0.8em;
    }

    #checkout {
        margin-top: 10px;
        font-size: 0.7em;
    }

    #sum-p {
        font-size: 1em;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .cart {
        width: 80vw;
    }

    .order_container {
        grid-template-columns: calc(90px + 10vw) 1fr;
        height: calc(150px + 15vw);
        grid-template-rows: 70px 45px 30px 1fr;
        column-gap: 10px;
    }

    .order_container__cover {
        width: calc(90px + 10vw);
    }

    .order_container__title {
        font-size: 1.2em;
    }

    .order_container__author {
        font-size: 0.9em;
    }

    #checkout {
        margin-top: 10px;
        font-size: 0.8em;
    }

    #sum-p {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) {
    .cart {
        width: 65vw;
    }

    .order_container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 85px 55px 30px 1fr;
        height: calc(180px + 5vw);
    }

    #checkout {
        font-size: 0.9em;
    }

    #sum-p {
        font-size: 1.2em;
    }
}

.btn-cart {
    margin-top: 5px;
    background-color: #D96F6E;
    border: none;
    border-radius: 0.5em;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    height: 2em;
    width: 8em;
}

.cart-icon {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(3, 1fr);
    height: 45px;
    margin-right: 25px;
}

@media screen and (max-width: 320px) {
    .cart-icon {
        height: 38px;
    }
}

#header_button_bag {
    grid-area: 1 / 1 / 4 / 4;
    align-self: center;
    justify-self: center;
}

#mini-cart {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
    font-weight: 500;
    color: #583534;
}

a {
    text-decoration: none;
}

.price,
#sum {
    color: #a85553;
    font-weight: 500;
}